{% extends "templates/app/layout/layout_nav.html" %}

{% block content %}

<!-- Oldal tartalma -->
<div id="lap">
    <div id="oldalcim">Rólunk</div>
    <div id="tartalom">
        <p>Az oldalunk azért jött létre, hogy segítse a megán személyeket vagy kissebb csoportokat az pénz adomány
            gyűjtésében.</p>
        <p>Mivel az interneten van ezért nincs szükség arra, hogy valaki mondjuk a bevásárlás közepén leszólítson, ezzel
            is elkerülve a kínos beszélgetéseket. Emellet, lehet kártyával is fizetni!</p>
    </div>
</div>

{% endblock %}