{% extends "templates/app/layout/layout_nav.html" %}

{% block content %}

<!-- Oldal tartalma -->

<!-- Be van e jelentkezve ellenőrzés -->
{% if user.is_authenticated %}
<!-- mdl-tabs mostnár layout-->
<div id="doboz" clas="mdl-grid">
    <h3 id="dobozcim">Visszautalás</h3>
    <table>
        <form action="" method="post">
            {% csrf_token %}
            {{form}}
            <tr>
                <td>
                    A kártya adataidat a személyes adatok védelméjért nem mentjük!
                </td>
                <td>
                    <input type="submit" value="Visszautalás" class="mdl-button mdl-js-button mdl-button--raised">
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="bg-warning">{{uzenet}}</td>
            </tr>
        </form>
    </table>
</div>
<!--Ha nincs bejelentkezve-->
{% else %}
<p id="alternativValasz">Úgy tűnik, hogy nem vagy bejelentkezve! <a href="{% url 'bejelentkezes' %}" >Jelentkezz be</a>
    az oldal megtekintéséhez!</p>
{% endif %}

{% endblock %}
