{% extends "templates/app/layout/layout_nav.html" %}

{% block content %}

<div id="koszonto">
    <h1 id="oldalcim">{{gyujtesReszletek.cim}}</h1><span id="bejelentkezettFelh">{{gyujtesReszletek.publikalo}}</span>
</div>
<!-- Be van e jelentkezve ellenőrzés -->
{% if user.is_authenticated %}
<div id="doboz">
    <div id="leiras">
        <span>{{gyujtesReszletek.leiras}}</span>
    </div>
    <table id="reszletTabla" class="table">
        <thead>
            <th scope="col">Minimum összeg adományozásra</th>
            <th scope="col">Cél</th>
            <th scope="col">Jelnelg állás</th>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{gyujtesReszletek.minAr}}</td>
                <td scope="row">{{gyujtesReszletek.cel}}</td>
                <td scope="row">{{gyujtesReszletek.jelenleg}}</td>
            </tr>
        </tbody>
    </table>
    <h3 id="fizetes">Fizetés</h3>
    <div>
        <table class="table">
            <form action="" method="post">
                {% csrf_token%}
                {{form.as_table}}
                <tr>
                    <td scope="row">Készen áll? Ne felejtse, sem nekünk sem gyűjtőnek nem álljogában a vissza utalás!
                    </td>
                    <td><input type="submit" value="Fizetés" class="mdl-button mdl-js-button mdl-button--raised"></td>
                </tr>
            </form>
        </table>
    </div>
</div>
<!--Ha nincs bejelentkezve-->
{% else %}
<div id="doboz">
    <div id="leiras">
        <span>{{gyujtesReszletek.leiras}}</span>
    </div>
    <table id="reszletTabla" class="table">
        <thead>
            <th scope="col">Minimum összeg adományozásra</th>
            <th scope="col">Cél</th>
            <th scope="col">Jelnelg állás</th>
            <th scope="col">Adományozáshoz jelenkezzen be!</th>
        </thead>
        <tbody>
            <tr>
                <td scope="row">{{gyujtesReszletek.minAr}}</td>
                <td scope="row">{{gyujtesReszletek.cel}}</td>
                <td scope="row">{{gyujtesReszletek.jelenleg}}</td>
                <td scope="row"><a href="{% url 'bejelentkezes' %}"">Bejelentkezés</a></td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}