{% extends "templates/app/layout/layout_nav.html" %}

{% block content %}

<!-- Oldal tartalma -->

<div id="koszonto">
    <h1 id="oldalcim">Kezdőlap</h1>
</div>

{% if user.is_authenticated %}
{% if promos|length > 0 %}
<h2 id="oldalcim02_Promo">Promóciós</h2>
<!-- kártyák listája -->
<div id="kartyak">
    {%for i in promos%}
    <div class="mdl-card">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">{{i.cim}}</h3>
        </div>
        <div class="mdl-card__supporting-text">
            {{i.leiras}}
        </div>
        <div class="mdl-card__actions">
            <a href="{% url 'gyujtes' i.id %}">Megtekintes</a>
        </div>
    </div>
    {%endfor%}
</div>
<hr id="elvalaszto">
{%endif%}
<!-- kártyák listája -->
<div id="kartyak">
    {%for i in atlagos %}
    <div class="mdl-card">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">{{i.cim}}</h3>
        </div>
        <div class="mdl-card__supporting-text">
            {{i.leiras}}
        </div>
        <div class="mdl-card__actions">
            <a href="{% url 'gyujtes' i.id %}">Megtekintes</a>
        </div>
    </div>
    {%endfor%}
</div>

<!-- ha nincs senki sem bejelentkezve-->
{% else %}

{% if promos|length > 0 %}
<h2 id="oldalcim02_Promo">Promóciós</h2>
<!-- kártyák listája -->
<div id="kartyak">
    {%for i in promos%}
    <div class="mdl-card">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">{{i.cim}}</h3>
        </div>
        <div class="mdl-card__supporting-text">
            {{i.leiras}}
        </div>
        <div class="mdl-card__actions">
            <a href="{% url 'gyujtes' i.id %}">Megtekintes</a>
        </div>
    </div>
    {%endfor%}
</div>
<hr id="elvalaszto">
{%endif%}
<!-- kártyák listája -->
<div id="kartyak">
    {%for i in atlagos %}
    <div class="mdl-card">
        <div class="mdl-card__title">
            <h3 class="mdl-card__title-text">{{i.cim}}</h3>
        </div>
        <div class="mdl-card__supporting-text">
            {{i.leiras}}
        </div>
        <div class="mdl-card__actions">
            <a href="{% url 'gyujtes' i.id %}">Megtekintes</a>
        </div>
    </div>
    {%endfor%}
</div>
{%endif%}
{% endblock %}