{% extends "templates/app/layout.html" %}

{% block content %}

<!-- Oldal tartalma -->

<!-- Be van e jelentkezve ellenőrzés -->
{% if user.is_authenticated %}
<h1 id="oldalcim">Üdvözöllek {{felhasznalo.first_name}} más néven, {{felhasznalo.username}} </h1>
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect" id="menu">
    <a href="{% url 'kijelentkezes'%}" id="kijelentkezes">Kijelentkezés</a>
    <a href="{%url 'profil'%}" id="ugras">Profilod adatai</a>
    <a href="{%url 'profilSzerk'%}" id="ugras">Profil szerkesztés</a>
    <a href="{%url 'egyenlegFel'%}" id="ugras">Egyenleg feltöltés</a>
    <a href="{%url 'gyujtesStat'%}" id="ugras">Gyűjtés statisztika</a>
    <a href="{%url 'ujGyujtes'%}" id="ugras">Gyűjtés létrehozása</a>
</div>
<div id="oldal" clas="mdl-grid" class="SpecialSzerk">
    <div id="doboz">
        <div id="hibatortent">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Frissítés">
        </form>
    </div>
</div>
<!--Ha nincs bejelentkezve-->
{% else %}
<p id="alternativValasz">Úgy tűnik, hogy nem vagy bejelentkezve! <a href="{% url 'bejelentkezes' %}">Jelentkezz be</a>
    az oldal megtekintéséhez!</p>
{% endif %}

{% endblock %}