{% extends "templates/app/layout/layout_nav.html" %}

{% block content %}

<!-- Oldal tartalma -->

<!-- Be van e jelentkezve ellenőrzés -->
{% if user.is_authenticated %}
<!-- mdl-tabs mostnár layout-->>
<div id="oldal" clas="mdl-grid" class="SpecialSzerk">
    <div id="doboz">
		<h3 id="dobozcim">A profilod szerkeztése</h3>
        <div id="hibatortent">
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Frissítés">
        </form>
    </div>
</div>
<!--Ha nincs bejelentkezve-->
{% else %}
<p id="alternativValasz">Úgy tűnik, hogy nem vagy bejelentkezve! <a href="{% url 'bejelentkezes' %}">Jelentkezz be</a>
    az oldal megtekintéséhez!</p>
{% endif %}

{% endblock %}