{% extends "templates/app/layout.html" %}

{% block content %}

<!-- Oldal tartalma -->
<h1 id="oldalcim">Regisztráció</h1>

<div id="RegisztralBlokk">
    <!-- hibaüzenetek -->
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!-- regisztációs űrlap -->
    <form method="post">
        <!-- kiegészített védelem -->
        {% csrf_token %}
        <table>
            <!-- form generálása tábla ként -->
            {{form.as_table}}
            <tr>
                <td></td>
                <td><input type="submit" value="Regisztrálás" class="mdl-button mdl-js-button mdl-button--raised"></td>
            </tr>
        </table>
    </form>

</div>

<p>Ha már van fiókja akkor jelentkezzen be!</p>
{% endblock %}