{% extends "templates/app/layout/layout_nav.html" %}

{% block content %}

<!-- Oldal tartalma -->
<h1 id="Oldali">Bejelentkezés</h1>
<div id="RegisztralBlokk">
    <form action="" method="post">
        <table>
        <!--felhasználói adatok védelem érdekében -->
        {% csrf_token %}
        <!-- Formázás -->
        {{form.as_table}}
        <tr>
            <td>
            </td>
            <td>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">Bejelentkezés</button>
            </td>
        </tr>
        {% if messages %}
        <tr>
            {% for message in messages %}
            <td>{{message.error}}</td>
            {% endfor %}
        </tr>
        {% endif %}
    </table>
    </form>
</div>

<p>Ha még nincs fiókja akkor <a href="{% url 'regisztral' %}" id="fiokLink">Regisztráljon</a>!</p>
{% endblock %}